<div class="containerBigCard">
  <div class="bigCardPicture">
    <img src="https://placehold.co/350x350/png" alt="" srcset="">
  </div>
  <div class="bigCardTitle">
    <h1>New version framework Angular</h1>
  </div>
  <div class="bigCardDescription">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, maxime dolores voluptas ad perspiciatis dolorum
      nulla numquam cupiditate, dicta architecto, rerum deserunt. Dolores molestiae perferendis vero. Facilis eaque
      suscipit doloribus!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi tempore veniam enim saepe sed sapiente officiis
      necessitatibus soluta, earum vitae molestias quod possimus fuga ab, velit doloremque quos adipisci pariatur.
    </p>
  </div>
</div>
